<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input 
        #addPeople
        type="text" 
        placeholder="Name" 
        (input)="onInput(addPeople.value)"
        [value]="newMemberName"
        (keydown.enter)="addMember()"
        />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input 
        #teamSizeInput
        type="text" 
        placeholder="# of teams"
        (input)="onTeamSizeInput(teamSizeInput.value)" 
        [value]="numberOfTeams"
        (keydown.enter)="generateTeams()"
        />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
  <div class="teams-container" *ngIf="teams.length">
      <app-team *ngFor="let team of teams; let i = index"
        [team]="team"
        [index]="i"></app-team>

  </div>
</div>